Corresponsales/App_WebReferences/ConexionBaseDatos/ConexionBaseDatos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63784/ConexionBaseDatos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ListarCorresponsales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCorresponsalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarCorresponsalesResult" nillable="true" type="q1:ArrayOfCorresponsales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCaracteresOficinas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCorresponsales" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCaracteresOficinasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerCaracteresOficinasResult" nillable="true" type="q2:Corresponsales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>