Corresponsales/App_WebReferences/ConexionBaseDatos/ConexionBaseDatos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCorresponsales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Corresponsales" nillable="true" type="tns:Corresponsales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorresponsales" nillable="true" type="tns:ArrayOfCorresponsales" />
  <xs:complexType name="Corresponsales">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCorresponsales" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCoresponsal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreOficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroOficina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Corresponsales" nillable="true" type="tns:Corresponsales" />
</xs:schema>